{% extends 'main.html' %}

{% block content %}

{% if page == 'login' %}
<div> 
    <form method="POST" action = "">
        {% csrf_token %}
        <label>user name</label>
        <input type="text" name ="username" placeholder="Enter user name"/>

        <label>password</label>
        <input type="password" name ="password" placeholder="Enter user password"/>

        <input type="submit"  value="Login" />

    </form>
    <p>havn't register yet?</p>
    <a href="{% url 'register' %}"> Sign up </a>

</div>
{% else %}
<div> 
    <form method="POST" action = "">
        {% csrf_token %}

        {{ form.as_p }}


        <input type="submit"  value="Register" />

    </form>
    <p>Already sign up</p>
    <a href="{% url 'login' %}"> login </a>
</div>
{% endif %}
{% endblock %}